body {
    margin: 0;
    padding: 0;
    font-family: cursive;
    background-color: #393e46;
    color: #ddd;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
	background-color: #35424a;
	color: #ffffff;
	min-height: 70px;
	padding-top: 30px;
	border-bottom: #e8491d 3px solid;
}

a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

li {
	display: inline;
	padding: 0 20px;
}

header #branding {
	float: left;
}

header #branding h1 {
    margin: 0;
    padding: 0;
}

header nav {
	float: right;
}

header .highlight, header .current a {
	color: #e8491d;
	font-weight: bold;
}

header a:hover {
	color: #cccccc;
	font-weight: bold;
}

#welcome-section {
    text-align: center;
    padding-top: 250px;
    padding-bottom: 150px;
}

#welcome-section h1 {
    margin: 0;
    padding: 0;
    font-size: 90px;
    color: #e8491d;
}

#welcome-section p {
    padding-top: 25px;
    font-size: 25px;
} 

#projects {
    text-align: center;
    padding-top: 120px; 
    padding-bottom: 50px;
}

span {
    font-size: 45px;
    background-color: #e8491d;
    color: #ddd;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}

#projects #projects-container {
    padding-top: 40px;
    padding-bottom: 20px;
}

#projects #projects-container iframe {
    border: 2px solid #e8491d; 
    border-radius: 5px;
}

#projects p {
    color: #e8491d;
}

#contacts {
    text-align: center;
    padding-top: 30px; 
    margin-top: 40px;
    padding-bottom: 40px;
}

#contacts ul {
    padding-top: 50px;
    padding-bottom: 40px;
}

#contacts #profile-link {
    padding: 100px;
}

#credit {
    background-color: #e8491d;
    text-align: center;
    padding: 30px;
}

#credit p {
    margin: 0;
    padding-bottom: 0;
    padding-top: 20px;
}
